[submodule "vendor/twitter"]
	path = vendor/twitter
	url = git://git.busydoingnothing.co.uk/twitter.git
[submodule "vendor/textmate.el"]
	path = vendor/textmate.el
	url = https://github.com/defunkt/textmate.el.git
[submodule "vendor/rvm.el"]
	path = vendor/rvm.el
	url = https://github.com/senny/rvm.el.git
[submodule "vendor/full-ack"]
	path = vendor/full-ack
	url = https://github.com/nschum/full-ack
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = https://github.com/eschulte/rinari.git
